<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Camvi"
        tools:targetApi="31">
        <activity
            android:name=".ui.screens.administradores.SesionesSinCamarografos"
            android:exported="false"
            android:label="@string/title_activity_sesiones_sin_camarografos"
            android:theme="@style/Theme.Camvi" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Camvi">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdministradoresActivity"
            android:exported="false"
            android:label="Activity Administradores"
            android:theme="@style/Theme.Camvi" />
        <activity
            android:name=".CamarografosActivity"
            android:exported="false"
            android:label="Activity Camarografos"
            android:theme="@style/Theme.Camvi" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false"
            android:label="Activity Clientes"
            android:theme="@style/Theme.Camvi" />
    </application>

</manifest>